button,
input[type=submit] {
  background-color: #A855F7;
  color: #fff;
  font-size: 1.15rem;
  padding: 0.35rem 1.5rem;
  border-radius: 0.75rem;
  border: 0;
  cursor: pointer;
}
button:focus,
input[type=submit]:focus {
  outline: 1px solid #A855F7;
}
