html,
body {
  height: 100%;
  font-family: "Lexend", sans-serif;
}

body {
  overflow-x: hidden;
}

*:not(dialog):focus {
  outline: 1px solid #A855F7;
}

input,
textarea {
  font-family: "Lexend", sans-serif;
}

.select-wrapper {
  position: relative;
  width: 100%;
}

select {
  appearance: none;
  width: 100%;
  min-height: 2.5rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  font-size: 0.9rem;
  border: 2px solid #F7F6F8;
  background: #fff;
  cursor: pointer;
  box-sizing: border-box;
}

.select-wrapper::after {
  content: "";
  position: absolute;
  top: 65%;
  right: 0.5rem;
  width: 1rem;
  height: 1rem;
  transform: translateY(-50%);
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='12' height='8' viewBox='0 0 12 8' fill='none'><path d='M1 1l5 5 5-5' stroke='%238b98a6' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round' /></svg>");
  background-repeat: no-repeat;
  background-size: 1rem 0.5rem;
  pointer-events: none;
}

.text {
  font-size: 1rem;
  color: #181818;
}

.subtext {
  font-size: 0.85rem;
  color: #181818;
}

.muted {
  font-size: 0.85rem;
  color: #777777;
}

.bold {
  font-weight: 600;
}

.error {
  display: none;
  font-size: 0.8rem;
  color: #E74C3C;
}
.error.show {
  display: inline;
}

.heading-1,
h1 {
  font-size: 3rem;
  color: #181818;
}

.heading-2,
h2 {
  font-size: 2.75rem;
  color: #181818;
}

.heading-3,
h3 {
  font-size: 1.75rem;
  color: #181818;
}

.heading-4,
h4 {
  font-size: 1.35rem;
  color: #181818;
}

.heading-5,
h5 {
  font-size: 1.25rem;
  color: #181818;
}
