html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Generated by https://meyerweb.com/eric/tools/css/reset/ */
html,
body {
  height: 100%;
  font-family: "Lexend", sans-serif;
}

body {
  overflow-x: hidden;
}

*:not(dialog):focus {
  outline: 1px solid #A855F7;
}

input,
textarea {
  font-family: "Lexend", sans-serif;
}

.select-wrapper {
  position: relative;
  width: 100%;
}

select {
  appearance: none;
  width: 100%;
  min-height: 2.5rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  font-size: 0.9rem;
  border: 2px solid #F7F6F8;
  background: #fff;
  cursor: pointer;
  box-sizing: border-box;
}

.select-wrapper::after {
  content: "";
  position: absolute;
  top: 65%;
  right: 0.5rem;
  width: 1rem;
  height: 1rem;
  transform: translateY(-50%);
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='12' height='8' viewBox='0 0 12 8' fill='none'><path d='M1 1l5 5 5-5' stroke='%238b98a6' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round' /></svg>");
  background-repeat: no-repeat;
  background-size: 1rem 0.5rem;
  pointer-events: none;
}

.text {
  font-size: 1rem;
  color: #181818;
}

.subtext {
  font-size: 0.85rem;
  color: #181818;
}

.muted {
  font-size: 0.85rem;
  color: #777777;
}

.bold {
  font-weight: 600;
}

.error {
  display: none;
  font-size: 0.8rem;
  color: #E74C3C;
}
.error.show {
  display: inline;
}

.heading-1,
h1 {
  font-size: 3rem;
  color: #181818;
}

.heading-2,
h2 {
  font-size: 2.75rem;
  color: #181818;
}

.heading-3,
h3 {
  font-size: 1.75rem;
  color: #181818;
}

.heading-4,
h4 {
  font-size: 1.35rem;
  color: #181818;
}

.heading-5,
h5 {
  font-size: 1.25rem;
  color: #181818;
}

main.classes,
main.students,
main.grades,
main.configuration,
main.reports {
  display: grid;
  grid-template-columns: 0.15fr 1fr;
  height: 100%;
  box-sizing: border-box;
}
main.classes aside > div,
main.students aside > div,
main.grades aside > div,
main.configuration aside > div,
main.reports aside > div {
  display: flex;
  flex-direction: column;
  gap: 3.5rem;
  padding: 1.75rem;
  border-right: 2px solid #F7F6F8;
  height: 100%;
}
main.classes aside > div .user,
main.students aside > div .user,
main.grades aside > div .user,
main.configuration aside > div .user,
main.reports aside > div .user {
  display: flex;
  align-items: center;
  gap: 1rem;
}
main.classes aside > div .user svg,
main.classes aside > div .user img,
main.students aside > div .user svg,
main.students aside > div .user img,
main.grades aside > div .user svg,
main.grades aside > div .user img,
main.configuration aside > div .user svg,
main.configuration aside > div .user img,
main.reports aside > div .user svg,
main.reports aside > div .user img {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 100%;
}
main.classes aside > div .user .info,
main.students aside > div .user .info,
main.grades aside > div .user .info,
main.configuration aside > div .user .info,
main.reports aside > div .user .info {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
main.classes aside > div .menu,
main.students aside > div .menu,
main.grades aside > div .menu,
main.configuration aside > div .menu,
main.reports aside > div .menu {
  flex: 1;
}
main.classes aside > div .menu,
main.classes aside > div .footer,
main.students aside > div .menu,
main.students aside > div .footer,
main.grades aside > div .menu,
main.grades aside > div .footer,
main.configuration aside > div .menu,
main.configuration aside > div .footer,
main.reports aside > div .menu,
main.reports aside > div .footer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
main.classes aside > div .menu a,
main.classes aside > div .footer a,
main.students aside > div .menu a,
main.students aside > div .footer a,
main.grades aside > div .menu a,
main.grades aside > div .footer a,
main.configuration aside > div .menu a,
main.configuration aside > div .footer a,
main.reports aside > div .menu a,
main.reports aside > div .footer a {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  padding: 0.75rem 1.25rem;
  border-radius: 1rem;
  text-decoration: none;
  color: #000;
  cursor: pointer;
}
main.classes aside > div .menu a:hover, main.classes aside > div .menu a.selected,
main.classes aside > div .footer a:hover,
main.classes aside > div .footer a.selected,
main.students aside > div .menu a:hover,
main.students aside > div .menu a.selected,
main.students aside > div .footer a:hover,
main.students aside > div .footer a.selected,
main.grades aside > div .menu a:hover,
main.grades aside > div .menu a.selected,
main.grades aside > div .footer a:hover,
main.grades aside > div .footer a.selected,
main.configuration aside > div .menu a:hover,
main.configuration aside > div .menu a.selected,
main.configuration aside > div .footer a:hover,
main.configuration aside > div .footer a.selected,
main.reports aside > div .menu a:hover,
main.reports aside > div .menu a.selected,
main.reports aside > div .footer a:hover,
main.reports aside > div .footer a.selected {
  color: #A855F7;
  background-color: #F3E8FF;
}
main.classes aside > div .menu a:hover span, main.classes aside > div .menu a.selected span,
main.classes aside > div .footer a:hover span,
main.classes aside > div .footer a.selected span,
main.students aside > div .menu a:hover span,
main.students aside > div .menu a.selected span,
main.students aside > div .footer a:hover span,
main.students aside > div .footer a.selected span,
main.grades aside > div .menu a:hover span,
main.grades aside > div .menu a.selected span,
main.grades aside > div .footer a:hover span,
main.grades aside > div .footer a.selected span,
main.configuration aside > div .menu a:hover span,
main.configuration aside > div .menu a.selected span,
main.configuration aside > div .footer a:hover span,
main.configuration aside > div .footer a.selected span,
main.reports aside > div .menu a:hover span,
main.reports aside > div .menu a.selected span,
main.reports aside > div .footer a:hover span,
main.reports aside > div .footer a.selected span {
  color: #A855F7;
}
main.classes aside > div .menu a svg,
main.classes aside > div .footer a svg,
main.students aside > div .menu a svg,
main.students aside > div .footer a svg,
main.grades aside > div .menu a svg,
main.grades aside > div .footer a svg,
main.configuration aside > div .menu a svg,
main.configuration aside > div .footer a svg,
main.reports aside > div .menu a svg,
main.reports aside > div .footer a svg {
  width: 1.5rem;
  height: 1.5rem;
}
main.classes .container,
main.students .container,
main.grades .container,
main.configuration .container,
main.reports .container {
  background-color: rgb(255, 255, 255);
  overflow-y: auto;
}

@media (max-width: 768px) {
  main.classes aside > div,
  main.students aside > div,
  main.grades aside > div,
  main.configuration aside > div,
  main.reports aside > div {
    align-items: flex-start;
    padding: 1rem 0.5rem;
  }
  main.classes aside > div .user .info,
  main.students aside > div .user .info,
  main.grades aside > div .user .info,
  main.configuration aside > div .user .info,
  main.reports aside > div .user .info {
    display: none;
  }
  main.classes aside > div .menu,
  main.students aside > div .menu,
  main.grades aside > div .menu,
  main.configuration aside > div .menu,
  main.reports aside > div .menu {
    align-items: flex-start;
  }
  main.classes aside > div .menu a,
  main.students aside > div .menu a,
  main.grades aside > div .menu a,
  main.configuration aside > div .menu a,
  main.reports aside > div .menu a {
    padding: 0.5rem;
  }
  main.classes aside > div .menu a .text,
  main.students aside > div .menu a .text,
  main.grades aside > div .menu a .text,
  main.configuration aside > div .menu a .text,
  main.reports aside > div .menu a .text {
    display: none;
  }
  main.classes aside > div .footer a,
  main.students aside > div .footer a,
  main.grades aside > div .footer a,
  main.configuration aside > div .footer a,
  main.reports aside > div .footer a {
    padding: 0.5rem;
  }
  main.classes aside > div .footer a .text,
  main.students aside > div .footer a .text,
  main.grades aside > div .footer a .text,
  main.configuration aside > div .footer a .text,
  main.reports aside > div .footer a .text {
    display: none;
  }
}
button,
input[type=submit],
.button {
  background-color: #A855F7;
  font-family: "Lexend", sans-serif;
  color: #fff;
  font-size: 1.15rem;
  padding: 0.4rem 1.5rem;
  border-radius: 0.75rem;
  cursor: pointer;
  border: 2px solid #A855F7;
  transition: background-color 0.25s;
  text-decoration: none;
}
button:focus,
input[type=submit]:focus,
.button:focus {
  border-color: #fff;
}
button:hover,
input[type=submit]:hover,
.button:hover {
  background-color: #782fbd;
  border-color: #782fbd;
}

dialog {
  width: 100%;
  max-width: 400px;
  max-height: 600px;
  border: none;
  outline: none;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  padding: 1.5rem;
  border-radius: 1rem;
}
dialog .header {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  padding-bottom: 1.5rem;
  border-bottom: 1px solid #F7F6F8;
}
dialog .header .close-dialog {
  cursor: pointer;
}
dialog .content {
  padding-top: 1rem;
}

html,
body {
  height: 100%;
  font-family: "Lexend", sans-serif;
}

body {
  overflow-x: hidden;
}

*:not(dialog):focus {
  outline: 1px solid #A855F7;
}

input,
textarea {
  font-family: "Lexend", sans-serif;
}

.select-wrapper {
  position: relative;
  width: 100%;
}

select {
  appearance: none;
  width: 100%;
  min-height: 2.5rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  font-size: 0.9rem;
  border: 2px solid #F7F6F8;
  background: #fff;
  cursor: pointer;
  box-sizing: border-box;
}

.select-wrapper::after {
  content: "";
  position: absolute;
  top: 65%;
  right: 0.5rem;
  width: 1rem;
  height: 1rem;
  transform: translateY(-50%);
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='12' height='8' viewBox='0 0 12 8' fill='none'><path d='M1 1l5 5 5-5' stroke='%238b98a6' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round' /></svg>");
  background-repeat: no-repeat;
  background-size: 1rem 0.5rem;
  pointer-events: none;
}

.text {
  font-size: 1rem;
  color: #181818;
}

.subtext {
  font-size: 0.85rem;
  color: #181818;
}

.muted {
  font-size: 0.85rem;
  color: #777777;
}

.bold {
  font-weight: 600;
}

.error {
  display: none;
  font-size: 0.8rem;
  color: #E74C3C;
}
.error.show {
  display: inline;
}

.heading-1,
h1 {
  font-size: 3rem;
  color: #181818;
}

.heading-2,
h2 {
  font-size: 2.75rem;
  color: #181818;
}

.heading-3,
h3 {
  font-size: 1.75rem;
  color: #181818;
}

.heading-4,
h4 {
  font-size: 1.35rem;
  color: #181818;
}

.heading-5,
h5 {
  font-size: 1.25rem;
  color: #181818;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  width: 100%;
}
form .row {
  width: 100%;
  display: flex;
  gap: 0.5rem;
}
form .form-group {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
}
form label {
  font-size: 1.1rem;
}
form input:not(input[type=submit]) {
  width: 100%;
  background-color: #F7F6F8;
  border: 0;
  height: 40px;
  border-radius: 0.5rem;
  padding: 0 0.5rem;
  box-sizing: border-box;
}
form input:not(input[type=submit]):focus {
  outline: 1px solid #A855F7;
}
form input:not(input[type=submit])::placeholder {
  color: #a5a5a5;
}
form input[type=submit],
form a.button {
  margin-left: auto;
}

.students .container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 3rem;
  width: 100%;
  padding: 2rem;
}
.students .container .header {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}
.students .container .wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
}
.students .container .wrapper .class-info {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  width: 100%;
}
.students .container .wrapper .class-info img {
  width: 3rem;
  height: 3rem;
}
.students .container .wrapper .class-info #class-row-text {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}
.students .container .wrapper .class-info #class-row-text #class-name,
.students .container .wrapper .class-info #class-row-text #class-course {
  max-width: 400px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.students .container .wrapper .class-info #class-row-text svg {
  flex: 0 1 2rem;
  width: 2rem;
  height: 2rem;
}
.students .container .wrapper .content {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}
.students .container .wrapper .content .box {
  flex: 0 1 225px;
  max-width: 225px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1rem;
  padding: 1.5rem;
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  text-decoration: none;
  overflow: hidden;
}
.students .container .wrapper .content .box img {
  width: 100px;
  border: 1px solid #A855F7;
  border-radius: 100%;
}
.students .container .wrapper .content .box .column {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
}
.students .container .wrapper .content .box .column #name,
.students .container .wrapper .content .box .column #lastName {
  text-overflow: ellipsis;
  overflow: hidden;
  width: 100%;
}
.students .container .wrapper .content .box svg {
  width: 1.25rem;
  height: 1.25rem;
  align-self: flex-end;
  cursor: pointer;
}
.students dialog .photo-wrapper {
  width: 100%;
  display: flex;
}
.students dialog .photo-wrapper label {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.students dialog .photo-wrapper label .info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
  order: 1;
}
.students dialog .photo-wrapper label .info .muted {
  font-size: 0.7rem;
}
.students dialog .photo-wrapper label img,
.students dialog .photo-wrapper label svg {
  width: 60px;
  height: 60px;
  border-radius: 100%;
  background-color: #F7F6F8;
  border: none;
}
.students dialog .photo-wrapper input[type=file] {
  display: none;
}
.students dialog .classes-selected {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
}
.students dialog .classes-selected .dialog-class-element {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.75rem;
  border-radius: 1rem;
  gap: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}
.students dialog .classes-selected svg {
  width: 1.25rem;
  height: 1.25rem;
}

@media (max-width: 768px) {
  .students .container .wrapper .class-info #class-row-text {
    width: 100%;
  }
}
