@import "reset";
@import "global";
@import "layout";
@import "button";
@import "dialog";
@import "form";

.classes {
    .container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 3rem;
        width: 100%;
        padding: 2rem;

        .header {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
            gap: 1rem;
        }

        .content {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            gap: 2rem;

            .box {
                width: 100%;
                flex: 0 1 450px;
                max-width: 450px;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 1rem;
                padding: 1.5rem;
                border-radius: 1rem;
                box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
                text-decoration: none;

                .row {
                    width: 100%;
                    display: flex;
                    align-items: flex-start;
                    gap: 1rem;
                    justify-content: space-between;

                    img {
                        width: 3rem;
                        height: 3rem;
                    }

                }

                #title,
                #class {
                    text-overflow: ellipsis;
                    overflow: hidden;
                    width: 100%;
                }

                #students {
                    font-size: 1rem;
                }

                svg {
                    width: 1.25rem;
                    height: 1.25rem;
                    align-self: flex-end;
                    cursor: pointer;
                }
            }
        }
    }

    dialog {
        .icon-group {
            display: flex;
            flex-wrap: wrap;
            gap: 0.5rem;

            img {
                width: 3rem;
                height: 3rem;
                cursor: pointer;
                padding: 0.25rem;
                border-radius: 0.5rem;

                &.selected {
                    outline: 2px solid $accent;;
                }
            }
        }
    }
}