@import "global";

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    width: 100%;
    
    .row {
        width: 100%;
        display: flex;
        gap: 0.5rem;
    }

    .form-group {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 0.5rem;
    }

    label {
        font-size: 1.1rem;
    }
    
    input:not(input[type="submit"]) {
        width: 100%;
        background-color: $secondary;
        border: 0;
        height: 40px;
        border-radius: 0.5rem;
        padding: 0 0.5rem;
        box-sizing: border-box;
        &:focus {
            outline: 1px solid $accent;
        }
        &::placeholder {
            color: #a5a5a5;
        }
    }

    input[type="submit"],
    a.button {
        margin-left: auto;
    }
}