@import "reset";
@import "global";
@import "layout";
@import "button";
@import "form";
@import "dialog";

.grades {
    .container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 3rem;
        width: 100%;
        padding: 2rem;

        .header {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
            gap: 1rem;
            button.hide {
                display: none;
            }
        }

        .filter {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            gap: 2rem;

            &.hide {
                display: none;
            }

            .box {
                flex: 0 1 250px;
                max-width: 250px;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 1rem;
                padding: 1.5rem;
                border-radius: 1rem;
                box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
                text-decoration: none;

                .row {
                    width: 100%;
                    display: flex;
                    align-items: center;
                    gap: 1rem;

                    img {
                        width: 3.5rem;
                        height: 3.5rem;
                    }

                    .column {
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        gap: 0.5rem;
                    }

                }
            }
        }

        .content {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 1.5rem;
            &.hide {
                display: none;
            }
            .nav {
                display: flex;
                align-items: center;
                gap: 2rem;
                width: 100%;
                border-bottom: 3px solid $secondary;
                max-width: 1250px;
                a {
                    text-decoration: none;
                    padding-bottom: 1.5rem;
                    border-bottom: 3px solid $secondary;
                    &::after {
                        content: "";
                        border-bottom: 3px solid $secondary;
                    }    
                    &.active {
                        color: $accent;
                        border-color: $accent;
                    }
                }
            }
            .table {
                display: grid;
                grid-auto-rows: auto;
                max-width: 1250px;
                width: 100%;
                overflow-x: auto;

                .row {
                    border-bottom: 3px solid $secondary;
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    text-align: center;

                    &.thead {
                        background-color: $secondary;
                    }


                    &>div {
                        padding: 1rem;
                        width: 125px;
                        height: 100%; 
                        text-overflow: ellipsis;
                        overflow: hidden;
                        
                        &:first-child {
                            width: 200px;
                        }
                        
                        &:last-child {
                            margin-left: auto;
                            width: 75px;
                            position: sticky;
                            right: 0;
                            z-index: 1;
                            background-color: $secondary;

                        }
                    }
                }


            }
        }

        #save-student-grades {
            display: none;
            &.show {
                display: inline;
            }
        }
    }
    
}