@import "reset";
@import "global";
@import "layout";
@import "button";
@import "form";
@import "dialog";

.grades {
    .container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 3rem;
        width: 100%;
        padding: 2rem;

        .header {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
            gap: 1rem;

            button.hide {
                display: none;
            }
        }

        .filter {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            gap: 2rem;

            &.hide {
                display: none;
            }

            .box {
                flex: 0 1 350px;
                max-width: 350px;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 1rem;
                padding: 1.5rem;
                border-radius: 1rem;
                box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
                text-decoration: none;

                .row {
                    width: 100%;
                    display: flex;
                    align-items: center;
                    gap: 1rem;

                    img {
                        width: 3.5rem;
                        height: 3.5rem;
                    }

                    .column {
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        gap: 0.5rem;
                        width: 100%;
                        max-width: 250px;

                        #title,
                        #class {
                            text-overflow: ellipsis;
                            overflow: hidden;
                            width: 100%;
                            white-space: nowrap;
                        }
                    }

                }
            }
        }

        .content {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 1.5rem;

            &.hide {
                display: none;
            }

            .nav {
                display: flex;
                align-items: center;
                gap: 2rem;
                width: 100%;
                border-bottom: 3px solid $secondary;
                max-width: 1250px;
                overflow-x: auto;

                a {
                    text-decoration: none;
                    padding-bottom: 1.5rem;
                    border-bottom: 3px solid $secondary;

                    &::after {
                        content: "";
                        border-bottom: 3px solid $secondary;
                    }

                    &.active {
                        color: $accent;
                        border-color: $accent;
                    }
                }
            }

            .table-wrapper {
                overflow-x: auto;
                width: 100%;
                max-width: 1250px;
            }

            .table {
                display: grid;
                grid-auto-rows: auto;
                max-width: 1px;
                width: 100%;
                border-radius: 0.75rem;
                border-left: 3px solid $secondary;

                &.hide {
                    display: none;
                }

                .row {
                    border-bottom: 3px solid $secondary;
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    text-align: center;

                    &.thead {
                        background-color: $secondary;

                        div:not(:first-child):not(:last-child) {
                            cursor: pointer;
                            transition: all 0.25s;
                            border: 2px solid transparent;

                            &:hover {
                                border: 2px solid $accent;
                            }
                        }

                        div:not(:first-child) {
                            display: grid;
                            gap: 0.5rem;

                            span {
                                display: block;
                                text-align: center;
                                font-size: 0.75rem;
                            }
                        }
                    }


                    &>div {
                        display: flex;
                        align-items: center;
                        padding: 0.75rem 2rem;
                        width: 190px;
                        height: 100%;
                        text-overflow: ellipsis;
                        overflow: hidden;


                        &:first-child {
                            width: 200px;
                        }

                        &:not(:first-child) {
                            justify-content: center;
                            text-align: center;
                        }

                        &:last-child {
                            margin-left: auto;
                            width: 75px;
                            position: sticky;
                            right: 0;
                            z-index: 1;
                            background-color: $secondary;
                            outline: 2px solid $secondary;

                        }
                    }

                    &:not(.thead) {
                        border-bottom: 3px solid $secondary;

                        &>div {
                            min-height: 80px;

                            &.fail {
                                color: #E74C3C;
                            }

                            &:not(:first-child):not(:last-child) {

                                position: relative;
                                cursor: text;
                                transition: all 0.25s;
                                border: 2px solid transparent;

                                &:focus {
                                    outline: 2px solid $accent;
                                }

                                &.selected {
                                    border: 2px solid $secondary;
                                }

                                &:hover {
                                    border: 2px solid $accent;
                                }

                                &::after {
                                    content: "_______";
                                    letter-spacing: -3px;
                                    color: #b6b6b6;
                                    position: absolute;
                                    font-weight: 200;
                                    left: 50%;
                                    transform: translateX(-50%);
                                    top: 2.5rem;
                                    width: 100%;
                                    pointer-events: none;
                                }
                            }
                        }
                    }
                }


            }
        }

        #save-student-grades {
            display: none;

            &.show {
                display: inline;
            }
        }
    }

}

@media (max-width: 768px) {
    .grades {
        .container {
            .filter {
                .box {
                    .row {
                        .column {
                            max-width: 150px;
                        }
                    }
                }
            }
        }
    }
}