main.classes,
main.students,
main.grades,
main.configuration {
    display: grid;
    grid-template-columns: 0.15fr 1fr;
    height: 100%;
    box-sizing: border-box;

    aside {
        &>div {
            display: flex;
            flex-direction: column;
            gap: 3.5rem;
            padding: 1.75rem;
            border-right: 2px solid $secondary;
            height: 100%;

            .user {
                display: flex;
                align-items: center;
                gap: 1rem;

                svg {
                    width: 2.5rem;
                    height: 2.5rem;
                    border-radius: 100%;
                }

                .info {
                    display: flex;
                    flex-direction: column;
                    gap: 0.5rem;
                }
            }

            .menu {
                flex: 1;
            }

            .menu,
            .footer {
                display: flex;
                flex-direction: column;
                gap: 1rem;

                a {
                    display: flex;
                    align-items: center;
                    gap: 0.75rem;
                    padding: 0.75rem 1.25rem;
                    border-radius: 1rem;
                    text-decoration: none;
                    color: #000;
                    cursor: pointer;

                    &:hover,
                    &.selected {
                        color: $accent;
                        ;
                        background-color: #F3E8FF;

                        span {
                            color: $accent;
                        }
                    }

                    svg {
                        width: 1.5rem;
                        height: 1.5rem;
                    }

                }
            }
        }
    }

    .container {
        background-color: rgb(255, 255, 255);
        overflow-y: auto;
    }
}

@media (max-width: 768px) {

    main.classes,
    main.students,
    main.grades {
        aside {
            & > div {
                align-items: flex-start;
                padding: 1rem 0.5rem;
                .user {
                    .info {
                        display: none;
                    }
                }
                .menu {
                    align-items: flex-start;
                    a {
                        padding: 0.5rem;
                        .text {
                            display: none;
                        }
                    }
                }
                .footer {
                    a {
                        padding: 0.5rem;
                        .text {
                            display: none;
                        }
                    }
                }
            }
        }
    }
}