@import "reset";
@import "global";
@import "form";
@import "button";

.login-register {
    background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(255, 238, 223, 1) 35%, rgba(255, 224, 198, 1) 65%, rgba(236, 168, 245, 1) 100%);
    height: 100%;
    display: grid;
    place-items: center;

    .container {
        width: 100%;
        display: flex;
        max-width: 1250px;
        padding: 1rem;
        min-height: 600px;

        .left {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 2rem;
            flex: 1;
            border: 1px solid rgba(255, 255, 255, 0.3);
            background: rgba(255, 255, 255, 0.2);
            backdrop-filter: blur(5px);
            border-radius: 2rem;
            border-bottom-right-radius: 0;
            border-top-right-radius: 0;

            .actions {
                display: flex;
                flex-direction: column;
                gap: 2rem;
                position: absolute;
                right: -0.15rem;
                top: 2rem;
                a {
                    padding: 0.75rem 1rem;
                    border-top-left-radius: 0.5rem;
                    border-bottom-left-radius: 0.5rem;
                    text-decoration: none;
                    color: #c334d6;
                    font-weight: 700;
                    &.active {
                        background-color: #f8f8f8;
                    }
                }
            }

            .content {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: 2rem;
                max-width: 350px;
                text-align: center;
            }

            .tmp {
                width: 250px;
                height: 300px;
                border: 3px solid rgb(100, 0, 100);
                border-radius: 1rem;
            }
        }

        .right {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 2rem;
            flex: 1;
            background-color: #fff;
            border-radius: 2rem;
            border-bottom-left-radius: 0;
            border-top-left-radius: 0;
            overflow: hidden;

            .content {
                display: none;
                flex-direction: column;
                gap: 1rem;
                text-align: center;

                .logo {
                    display: none;
                    width: 150px;
                    height: 100px;
                    border: 3px solid rgb(100, 0, 100);
                }

            }

        }
    }
}


@media (max-width: 768px) {
    .login-register {
        .container {
            flex-direction: column;

            .left {
                display: none;
            }

            .right {
                border-radius: 2rem;

                .content {
                    display: flex;

                    .logo {
                        display: inline;
                    }

                }
            }
        }
    }
}