@import "reset";
@import "global";
@import "layout";
@import "button";

.reports {
    .container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 3rem;
        width: 100%;
        padding: 2rem;
        .header {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
            gap: 1rem;
        }

        .content {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            gap: 2rem;

            .box {
                width: 100%;
                flex: 0 1 350px;
                max-width: 350px;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 0.5rem;
                padding: 1.5rem;
                border-radius: 1rem;
                box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
                text-decoration: none;

                #subtitle {
                    margin-bottom: 0.5rem;
                }
                #title {
                    font-weight: 500
                }
                #result {
                    font-size: 3rem;
                    font-weight: 700;
                    color: $accent;
                }
            }
        }
    }
}